<section class="container">
	<figure>
		<image src="images/banner.jpg"/>
	</figure>
	 <div class="about">
	 	<p class="heading">Caring for Environment Quotes</p>
	 	<p>These environment quotes are some of the most popular or most profound. I hope you enjoy them as much as I do.</p>
	 	<ul>
<li>We are living on this planet as if we had another one to go to. - Terri Swearingen</li>
<br>
<li>One planet, one experiment. - Edward O. Wilson</li>
<br>
<li>The proper use of science is not to conquer nature but to live in it. - Barry Commoner</li>
<br>
<li>The fate of the living planet is the most important issue facing mankind. - Gaylord Nelson</li>
<br>
<li>Plans to protect air and water, wilderness and wildlife are in fact plans to protect man. - Stewart Udall</li>
<br>
<li>I feel more confident than ever that the power to save the planet rests with the individual consumer.  - Denis Hayes</li>
<br>
<li>You know what happens when windmills collapse into the sea? A splash. - Bill Maher</li>
</ul>
	</div> 
</section>