<section class="privacy">
	<div class="banner_img">
		<figure><img src="images/banner2.png" alt="banner_image"/></figure>
	</div>
	<ul>
		<li>Your privacy will be protected.
At Go-Green.ae we respect your right to privacy. Your name, email address and other identifying information that you give us will not be revealed to any of the direct marketers who rent our list. Should we ever change our policy, you will be given the chance to remove yourself from our list before your information is disclosed.</li><br>
		<li> You will not be spammed
We hate spamming, and we know that you do, too. When you sign up our mailing list, you will receive commercial email messages only about those topical categories that you have selected. Before any mailing goes out, our staff personally screens each marketer's message to make sure that it's relevant to the list's topic.</li><br>
		<li><ul>Google Advertising Cookie and Privacy Policies

<li>Google, as a third party vendor, uses cookies to serve ads on this web site.</li>

<li>Google's use of the DART cookie enables it to serve ads to users based on their visit to the web site.</li>

<li>Users may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy.</li>
</ul>
 </li>
	</ul>
</section>
