	h1 {
	    font-size: 2em; /* 40px/16=2.5em */
	}
	h2 {
	    font-size: 1.75em; /* 30px/16=1.875em */
	 }
	p {
	    font-size: 0.875em; /* 14px/16=0.875em */
	}
	.normal-font{font-size: 1em;}
	.reduced-font{font-size: .75em}