html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}
.clearfix:before, .clearfix:after {
  display: block;
  content: ".";
  line-height: 0;
  font-size:0;
  visibility:hidden;
}
.clearfix:after {
  clear: both;
}
a{
	text-decoration:none;	
	outline:0;
}
.input-block-level {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height:21px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
  margin:0;
  padding:0;
}
audio, canvas, video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
}
html {
 font-size:100%;
  -webkit-text-size-adjust: 0.750em;
  -ms-text-size-adjust:0.750em;
}
a:hover, a:active {
  outline: 0;
}
sub, sup {
  position: relative;
  font-size:.685em;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button, input, select, textarea {
  margin: 0;
  font-size:75%;
  vertical-align: middle;
}
button, input {
  line-height: normal;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
body {
  font-size: 100%;
}
.row-fluid {
  width: 100%;
}
.row-fluid:before, .row-fluid:after {
  display: block;
  content: ".";
  line-height: 0;
  font-size:0;
  visibility:hidden;
}
.row-fluid:after {
  clear: both;
}
.row-fluid [class*="span"], .row-fluid [class*="pans"] {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 0%;
}
.row-fluid [class*="flt-flt"] {
	float:left;	
}
.row-fluid [class*="flt-frt"] {
	float:right;	
}
.row-fluid [class*="flt-fnon"] {
	float:none;	
}

.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.row-fluid .controls-row [class*="span"] + [class*="span"] {
  margin-left: 0%;
}
.row-fluid .span16, .row-fluid .pans16 {
  width: 100%;
}
.row-fluid .span15, .row-fluid .pans15 {
  width: 93.75%;
}
.row-fluid .span14, .row-fluid .pans14 {
  width: 87.5%;
}
.row-fluid .span13, .row-fluid .pans13 {
  width: 81.25%;
}
.row-fluid .span12, .row-fluid .pans12 {
  width: 75%;
}
.row-fluid .span11, .row-fluid .pans11 {
  width: 68.75%;
}
.row-fluid .span10, .row-fluid .pans10 {
  width: 62.5%;
}
.row-fluid .span9, .row-fluid .pans9 {
  width: 56.25%;
}
.row-fluid .span8, .row-fluid .pans8 {
  width: 50%;
}
.row-fluid .span7, .row-fluid .pans7 {
  width: 43.75%;
}
.row-fluid .span6, .row-fluid .pans6 {
  width: 37.5%;
}
.row-fluid .span5, .row-fluid .pans5 {
  width: 31.25%;
}
.row-fluid .span4, .row-fluid .pans4 {
  width: 25%;
}
.row-fluid .span3, .row-fluid .pans3 {
  width: 18.75%;
}
.row-fluid .span2, .row-fluid .pans2 {
  width: 12.5%;
}
.row-fluid .span1, .row-fluid .pans1 {
  width: 6.25%;
}
.row-fluid .span33, .row-fluid .pans33 {
 width: 33.33%;
 
}
.row-fluid .offset16 {
  margin-left: 100%;
}
.row-fluid .offset16:first-child {
  margin-left: 100%;
}
.row-fluid .offset15 {
  margin-left: 93.75%;
}
.row-fluid .offset15:first-child {
  margin-left: 93.75%;
}
.row-fluid .offset14 {
  margin-left: 87.5%;
}
.row-fluid .offset14:first-child {
  margin-left: 87.5%;
}
.row-fluid .offset13 {
  margin-left: 81.25%;
}
.row-fluid .offset13:first-child {
  margin-left: 81.25%;
}
.row-fluid .offset12 {
  margin-left: 75%;
}
.row-fluid .offset12:first-child {
  margin-left: 75%;
}
.row-fluid .offset11 {
  margin-left: 68.75%;
}
.row-fluid .offset11:first-child {
  margin-left: 68.75%;
}
.row-fluid .offset10 {
  margin-left: 62.5%;
}
.row-fluid .offset10:first-child {
  margin-left: 62.5%;
}
.row-fluid .offset9 {
  margin-left: 56.25%;
}
.row-fluid .offset9:first-child {
  margin-left: 56.25%;
}
.row-fluid .offset8 {
  margin-left: 50%;
}
.row-fluid .offset8:first-child {
  margin-left: 50%;
}
.row-fluid .offset7 {
  margin-left: 43.75%;
}
.row-fluid .offset7:first-child {
  margin-left: 43.75%;
}
.row-fluid .offset6 {
  margin-left: 37.5%;
}
.row-fluid .offset6:first-child {
  margin-left: 37.5%;
}
.row-fluid .offset5 {
  margin-left: 31.25%;
}
.row-fluid .offset5:first-child {
  margin-left: 31.25%;
}
.row-fluid .offset4 {
  margin-left: 25%;
}
.row-fluid .offset4:first-child {
  margin-left: 25%;
}
.row-fluid .offset3 {
  margin-left: 18.75%;
}
.row-fluid .offset3:first-child {
  margin-left: 18.75%;
}
.row-fluid .offset2 {
  margin-left: 12.5%;
}
.row-fluid .offset2:first-child {
  margin-left: 12.5%;
}
.row-fluid .offset1 {
  margin-left: 6.25%;
}
.row-fluid .offset1:first-child {
  margin-left: 6.25%;
}
.row-fluid .hide, .hide {
  display: none;
}
.show{
	display:block;
}
.borderRadius-large{
	border-radius: 6px;
	-webkit-border-radius: 6px;
  	-moz-border-radius: 6px;
	-o-border-radius:6px;
	-ms-border-radius:6px;
}
.borderRadius-small{
	border-radius: 3px;
	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;	
}
.row-fluid [class*="tbl"], .tbl{
	display:table;	
	float:none;
}
.row-fluid [class*="tbl-row"], .tbl-row{
	display:table-row;	
	float:none;
}

.row-fluid [class*="tbl-cell"], .tbl-cell{
	display:table-cell;	
	float:none;
}
[class^="icon-"], [class*="icon-"] {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    vertical-align: text-top;
    width: 16px;
}
